#result {
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultname {
  font-size: 26px;
}

.resultDesc {
  font-size: 20px;
}

.kakao {
  color: #fee500;
  background-color: black;
  font-size: 30px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover,
.kakao:focus {
  background-color: #fee500;
  color: black;
}

.gohome {
  color: white;
  background-color: brown;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.gohome:hover,
.gohome:focus {
  background-color: whitesmoke;
  color: blue;
}

.Urlcopy {
  border-color: #1a7cff;
}

.Urlcopy:hover {
  background: #1a7cff;
}
.Insta {
  border-color: #dd2a7b;
}

.Insta:hover {
  background: #dd2a7b;
}
